<#include "/include/_layout.html"/>
<@layout mainMenu="index" currentMenu="index">
<ol class="breadcrumb">
  <li class="active"><span class="glyphicon glyphicon-home"></span> Home</li>
</ol>
<div class="form-group">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <ul class="list-group">
	  <li class="list-group-item list-group-item-danger"><span class="badge">点击查看处理</span>员工ID：10000001，张三考勤加班数据异常！！！</li>
	  <li class="list-group-item list-group-item-danger"><span class="badge">点击查看处理</span>员工ID：10000002，李四考勤旷工异常！！！</li>
	  <li class="list-group-item list-group-item-danger"><span class="badge">点击查看处理</span>员工ID：10000003，王五考勤休假数据异常！！！</li>
	  <li class="list-group-item list-group-item-danger"><span class="badge">点击查看处理</span>员工ID：10000004，赵六考勤工时数据异常！！！</li>
	</ul>
  </div>
  <div class="col-sm-3"></div>
</div>


</@layout>