<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signin</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">ZUK_CRM</h2>
        <label for="inputName" class="sr-only">User name</label>
        <input type="text" id="inputName" name="name" value="" class="form-control" placeholder="Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" value="" class="form-control" placeholder="Password" required>
        <label>
          <input type="text" class="form-control" name="kaptcha" placeholder="验证码">
          <img src="/getKaptchaImage" width="80" height="34" class="captcha changeCaptcha" alt="验证码"/>
		  <a href="javascript:void(0)" class="changeCaptcha">换一张</a>
        </label>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="remember_me" name="remember-me" checked> Remember login status
          </label>
        </div>
        <#if (errorMsg)?exists>
	      <div class="alert alert-danger" role="alert">${errorMsg}</div>
        </#if>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div> 
  </body>
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript">
    //切换验证码
	$(document).on('click', '.changeCaptcha', function () {
	  $(".captcha").attr("src", "/getKaptchaImage");
	});
  </script>
</html>