<#include "/include/_layout.html" />
<@layout mainMenu="system" currentMenu="user">
<ol class="breadcrumb">
  <li><span class="glyphicon glyphicon-home"></span> <a href="/home">Home</a></li>
  <li><span class="glyphicon glyphicon-list"></span> <a href="/system/user/list/1">User</a></li>
  <li class="active"><span class="glyphicon glyphicon-edit"></span> Edit</li>
</ol>
<div class="container-fluid">
  <form class="form-horizontal" role="form" action="/system/user/update" method="post" enctype="multipart/form-data">
    <#include "_form.html" />
  </form>
</div>
</@layout>