<#include "/include/_layout.html" />
<@layout mainMenu="system" currentMenu="operate">
<ol class="breadcrumb">
  <li><span class="glyphicon glyphicon-home"></span> <a href="/home">Home</a></li>
  <li><span class="glyphicon glyphicon-list"></span> <a href="/system/operate/list/1">Operate</a></li>
  <li class="active"><span class="glyphicon glyphicon-plus-sign"></span> Add</li>
</ol>
<div class="container-fluid">
  <form class="form-horizontal" role="form" action="/system/operate/save" method="post">
    <#include "_form.html" />
  </form>
</div>
</@layout>